<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CV Checker</title>

        <link href="../static/images/cv.png" rel="icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">

    <link rel="shortcut icon" href="../static/css/logo-pcm.png" type="image/x-icon">
</head>

<body>

<header id="header" class="d-flex align-items-center fixed-top">
    <div class="container d-inline-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/"><h1 class="img-fluid" id="logo-img" style="color: #2196F3"><b>CV Checker</b>
        </h1></a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Beranda</a></li>
                <li><a class="nav-link scrollto" href="#check">Check</a></li>
                <li><a class="nav-link scrollto" href="#team">Developer</a></li>
                <li><a class="nav-link scrollto" href="#tentang">Tentang Kami</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>

            </ul>
            <i class="bx bx-list-ul mobile-nav-toggle"></i>
        </nav>
    </div>
    <div id="themeToggle">
        <input type="checkbox" class="checkbox" id="chk"/>
        <label class="label" for="chk">
            <i class="fas fa-sun" id="theme-button"></i>
            <i class="fas fa-moon" id="theme-button"></i>
            <div class="ball m-auto"></div>
        </label>
    </div>
</header>

<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2>CV Checker is a website that can check and compare your CV with job vacancy to see how well
                    suited you are for a job.
                    <br><br>
                    Presented for Final Project Study Independent, Merdeka Belajar Kampus Merdeka (MBKM)</h2>
                <div class="d-flex">
                    <a href="#check" class="btn-courses">Jelajahi lebih lanjut</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="../static/images/course.svg" class="img-fluid animated" alt>
            </div>
        </div>
    </div>
</section>

<main id="main">

    <section id="about" class="about section-bg">
        <div class="container">
            <div class="row">
                <div class="align-self-center col-lg-6">
                    <img src="../static/images/about.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center">
                    <h2>About</h2>
                    <p>
                        'Orbit AI Gen Y' adalah program pelatihan Artificial Intelligence holistik yang hybrid dan
                        inklusif untuk siswa dari semua sektor dan minat yang beragam. Program ini menggunakan
                        pendekatan Deep Learning & berbasis proyek. Orbit AI Gen Y berdurasi 6 bulan dan mencakup mulai
                        dari level basic pengenalan AI, hingga
                        advance level yang mencakup pemograman Python dan AI Project Cycle (Problem Scoping, Data
                        Acquisition, Data Exploration, Modelling, Evaluation & Deployment). Selain itu program ini juga
                        dilengkapi dengan kursus Life Skills yang penting dan diperlukan untuk kesuksesan perusahaan
                        atau kewirausahaan.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="tentang" class="about section-bg">
        <div class="container">
            <div class="row">
                <div class="align-self-center col-lg-6">
                    <img src="../../static/images/tentang.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center">
                    <h2>Tentang kami</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="team section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Developer Team</h2>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="member">
                        <img src="../static/images/team/person.jpg" alt="Akhmad Nur Alamsyah" width="200"
                             height="250">
                        <h5>Akhmad Nur Alamsyah</h5>
                        <h6>Teknik Informatika</h6>
                        <h6>Institut Teknologi Telkom Purwokerto</h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="member">
                        <img src="../static/images/team/person.jpg" alt="Wildan Adhitya Geraldine" width="200"
                             height="250">
                        <h5>Wildan Adhitya Geraldine</h5>
                        <h6>Teknik Informatika</h6>
                        <h6>Universitas Bale Bandung</h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="member">
                        <img src="../static/images/team/person.jpg" alt="Arum Mila Sari" width="200"
                             height="250">
                        <h5>Arum Mila Sari</h5>
                        <h6>Teknik Informatika</h6>
                        <h6>Universitas Aki Semarang</h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="member">
                        <img src="../static/images/team/person.jpg" alt="Mery Yulinda Rahmi" width="200"
                             height="250">
                        <h5>Mery Yulinda Rahmi</h5>
                        <h6>Sistem Informasi</h6>
                        <h6>Institut Teknologi Sepuluh Nopember</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    <section id="check" class="check section-bg">-->
    <div id="check" class="row align-items-end w3-container w3-card-2">
        <div class="col">
            <h5 style="color:gray">Klasifikasi CV</h5>
            <form class="p-3 text-center" action="/" method=post enctype="multipart/form-data" multiple>
                <div class="form-group">
                    <label style="color:gray">Masukkan CV (pdf dan bahasa inggris)</label>
                    <input class="form-control input" type="file" name="file"/>
                </div>
                <br>
                <div class="form-group">
                    <label style="color:gray">Kualifikasi</label>
                    <textarea id="kualifikasi" name="kualifikasi" class="form-control input" type="text"
                              rows="7"></textarea>
                </div>
                <br>
                <div class="col w3-container w3-card-4">
                    <!--            w3-161-->
                    <div class="row w3-indigo" style="color: #2196F3">
                        <h4 style="padding-top:5px; padding-left:10px"><b>Hasil Analisis CV</b></h4>
                    </div>
                    <br>
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    <br>
                    <div class="row">
                        {% if results is defined %}
                        {% for i in range(len-1,-1,-1) %}
                        {{ results[i]|safe }}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <hr/>
                </div>
                <br>
                <b><input class="w3-button w3-blue w3-round-large button"
                          style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"
                          type="submit" value="Klasifikasi"/></b>
            </form>
            <br>
        </div>
    </div>
    <!--    </section>-->
</main>

<footer class="bg-primary text-white text-center text-lg-start" id="contact">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">CV Checker</h5>
                <p>Website untuk mengetahui kesesuaian CV</p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h3>Contact Us:</h3>
                <span><i class='bx bxs-envelope'></i><a
                        href="mailto:cvchecker@cvchecker.com">cvchecker.com</a></span><br>
            </div>
        </div>
    </div>
    <div class="text-center p-3">
        © 2021 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class='bx bxs-arrow-to-top'></i></i></a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/vendor/purecounter/purecounter.js"></script>
<script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

<script src="../static/js/main.js"></script>

</body>

</html>